# Base de datos
POSTGRES_USER=banorte_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=sentiment_db
DATABASE_URL=postgresql://banorte_user:changeme@db:5432/sentiment_db

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# Seguridad
SECRET_KEY=cambia-esto-por-una-clave-segura-de-al-menos-32-chars
JWT_EXPIRE_HOURS=8

# Almacenamiento
STORAGE_PATH=./uploads
MAX_FILE_SIZE_MB=50

# API (usada por Streamlit para conectarse al backend)
API_BASE_URL=http://api:8000

# Entorno
ENVIRONMENT=development
